<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
    <title>{{ .Title }}</title>
    <script src="{{ "js/main.js" | absURL }}"></script>
  </head>
  <body>
    <nav>
    {{ partial "nav.html" . }}
    </nav>
    <main>
    {{- block "main" . }}{{- end }}
    </main>
  </body>
</html>
