<!DOCTYPE html>
<html class="overflow-y-scroll" lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ else if .IsPage }}
  <meta name="description" content="{{ .Summary | plainify }}">
  {{ end }}
  {{ $style := resources.Get "style.css" | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
  <title>Anthony Seure / {{ .Title }}</title>
</head>

<body class="grid grid-cols-12 mb-40 font-sans text-black">
  <div class="col-span-1 xl:col-span-3"></div>
  <div class="col-span-10 xl:col-span-6 xl:px-24">

    <nav class="flex flex-col">
      <h1 class="mt-4 text-center xl:text-left">
        <a class="no-underline font-bold text-2xl" href="{{ .Site.BaseURL }}"
          title="{{ .Site.Title }}">{{ .Site.Title }}</a>
      </h1>

      <span class="flex flex-col xl:flex-row mb-8 text-xl">
        {{ $sections := apply .Site.Sections.ByWeight   "partial" "nav-link" "." }}
        {{ $menus    := apply .Site.Menus.main.ByWeight "partial" "nav-link" "." }}
        {{ $links    := $sections | append $menus }}
        {{ $sep      := partial "nav-link-separator" }}
        {{ delimit $links $sep }}
      </span>
    </nav>

    {{- block "main" . }}{{- end }}

  </div>
  <div class="col-span-1 xl:col-span-3"></div>
</body>

</html>