{{ define "main" }}
<div class="grid grid-cols-1 lg:grid-cols-2">

  {{ range .Pages.GroupByDate "2006" }}
  <h1 class="col-span-1 lg:col-span-2 text-center font-bold text-2xl text-blue-800 my-4">{{ .Key }}</h1>

  {{ range .Pages }}
  <div class="grid-col-span-1 rounded bg-gray-200 m-2 p-4 text-center flex flex-col justify-between h-56">
    <h2 class="font-bold text-blue-800">{{ .Title }}</h2>

    <div>
      <div>
        For <a href="{{ .Params.customerURL }}">{{ .Params.customer }}</a>
      </div>
      <div>
        On {{ .Date.Format "2 January 2006" }}
      </div>
    </div>

    <div class="flex flex-row justify-between">
      <div class="text-gray-600 text-base flex flex-col">
        <div class="font-bold">Duration</div>
        <div>{{ .Params.duration }}</div>
      </div>
      <div class="text-gray-600 text-base flex flex-col">
        <div class="font-bold">Audience</div>
        <div>{{ .Params.audience }}</div>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}