{{ define "main" }}
<main class="grid grid-cols-1 xl:grid-cols-2">

  {{ range .Pages.GroupByDate "2006" }}
  <h1 class="col-span-1 xl:col-span-2 text-center font-bold text-xl my-4">{{ .Key }}</h1>

  {{ range .Pages }}
  <div class="col-span-1 rounded border-gray-600 border-2 text-center m-2 p-4 flex flex-col justify-between h-64">
    <h2 class="font-bold no-underline">{{ .Title }}</h2>

    <div>
      <div>
        For
        {{ if (ne .Params.website "") }}
        <a href="{{ .Params.website }}"> {{ .Params.event }}</a>
        {{ else }}
        {{ .Params.event }}
        {{ end }}
      </div>
      <div>On {{ .Date.Format "2 January 2006" }}</div>
      <div>In {{ .Params.location }}</div>
    </div>

    <div class="flex flex-row justify-around">
      {{ if (ne .Params.slides "") }}
      <a class="" href="{{ .Params.slides }}">Slides</a>
      {{ end }}
      {{ if (ne .Params.recording "") }}
      <a class="" href="{{ .Params.recording }}">Recording</a>
      {{ end }}
    </div>

  </div>
  {{ end }}
  {{ end }}
</main>
{{ end }}