{{ define "main" }}
<div class="flex flex-col">
  {{ range .Pages.GroupByDate "January 2006" }}
  <div class="my-4"></div>

  <div class="flex flex-col lg:flex-row">
    <h2 class="text-center lg:text-left mb-4 lg:mb-0 lg:w-1/5 font-bold text-2xl text-blue-800">{{ .Key }}</h2>
    <ul class="text-center lg:text-left flex flex-col justify-around">
      {{ range .Pages }}
      <li>
        <a class="underline text-blue-800" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
{{ end }}