<nav class="flex flex-col">
    <h1 class="mx-auto my-4">
        <a class="no-underline font-bold text-blue-800 text-4xl" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
    </h1>
    <span class="mx-auto flex flex-col lg:flex-row mb-4">
        {{ $sections := apply .Site.Sections.ByWeight   "partial" "nav-link" "." }}
        {{ $menus    := apply .Site.Menus.main.ByWeight "partial" "nav-link" "." }}
        {{ $links    := $sections | append $menus }}
        {{ $sep      := partial "nav-link-separator" }}
        {{ delimit $links $sep }}
    </span>
</nav>