<div class="menu">
  <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="title">{{ .Site.Title }}</a>
  <!--{{ $currentPage := . }}-->
  {{ range .Site.Menus.main }}
  <!--<a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>-->
  <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}
  {{ range .Site.Sections }}
  <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{ end }}
</div>
